data/raw/*
!data/raw/.gitkeepcheckpoint/
!data/processed/.gitkeepcheckpoint/
data/processed/*


.ipynb_checkpoints/
.env
.venv/
__pycache__/
*.pyc

target/
dbt_packages/
logs/

**/localSettings.json
**/cache.abf
**/unappliedChanges.json
**/.pbi/
